name: Build and Release with jpackage

on:
  push:
    tags: [ "v*" ]
  workflow_dispatch:


jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            name: linux
          - os: windows-latest
            name: windows
          - os: macos-latest
            name: mac

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'openjdk'

      - name: Make gradlew executable
        if: matrix.os != 'windows-latest'
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew jpackage

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jpackage-${{ matrix.name }}
          path: build/jpackage/
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/jpackage-windows/*
            artifacts/jpackage-linux/*
            artifacts/jpackage-mac/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}